* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #7eac97;
  --secondary-color: #b7dccb;
  --primary-text-color: #f4f1de;
  --primary-text-bg-color: #2c4857;
  --secondary-text-color: #2c4857;
  --secondary-text-bg-color: #b7dccb;
  --gradient-black-to-primary: 
    linear-gradient(90deg, black 0%, var(--primary-text-bg-color) 55%, var(--primary-color) 100%);
  --gradient-primary-to-black: 
    linear-gradient(270deg, black 0%, var(--primary-text-bg-color) 55%, var(--primary-color) 100%);
  --gradient-primary-to-black-bg: linear-gradient(to bottom, black 0%, var(--primary-text-bg-color) 55%, var(--primary-color) 100%);
}

html {
  font-size: 16px;
  scrollbar-width: none;
}

body {
  /*overflow: hidden;*/
  /*background: var(--gradient-primary-to-black-bg);
  background-attachment: fixed;*/
  height: 100%;
  background-color: var(--primary-color);
  /*border: 3px solid green;*/
}

body::-webkit-scrollbar{
  display: none;
}

header {

  /*align-items: center;*/
  /*justify-content: center;*/
  width: 100%;
  /*padding-bottom: 2em;
  padding-top: 2em;*/
  background-image: url("/img/frosty-header2_darkened.jpeg");
  background-color: black;
  background-repeat: no-repeat;
  background-position-x: right;
  border: 3px solid green;
}

/* .logo-container {
  height: auto;
} */

.logo-img {
  width: 10rem;
  padding: 2rem;
}

.slogan {
  display: inline;
  /*font-family: "Gabarito", Verdana, Geneva, Tahoma, sans-serif;*/
  font-family: "Gabarito";
  color: var(--primary-text-color);
  font-size: 3rem;
  line-height: 14rem;
  padding: auto 0 auto;
}

footer {
  font-family: "Gabarito";
  font-weight: 400;
  font-size: 1.2em;
  color: var(--primary-text-color);
  padding: 3em;
  background-color: var(--primary-color);
  text-align: center;
}

.contact {
  text-align: left;
}
