---
import Cards from "../components/Cards";
import Team from "../components/Team";
import Header from "../components/Header";
import Footer from "../components/Footer";
import { fetchCards, fetchTeam, fetchHeader, fetchFooter } from "../utils/contentful";
//import { useMediaQuery } from 'react-responsive'
//const isBigScreen = useMediaQuery({ query: '(min-width: 900px)' })
//const isMediumScreen = useMediaQuery({ query: '(max-width: 700px)' })
//const isPortrait = useMediaQuery({ query: '(orientation: portrait)' })
//const isRetina = useMediaQuery({ query: '(min-resolution: 2dppx)' })

//interface Big {
//	size: "big"
//}
//interface Mid {
//	size: "mid"
//}
//interface Small {
//	size: "small"
//}
//
//type ScreenSize = Big | Mid | Small;

//const video = Astro.url.searchParams.get('video')! || '0';
//const bright = Astro.url.searchParams.get('bright')! || '60';

const cards = { cards: await fetchCards() };
const team = { team: {
		textColor: "#efe9e0",
		backgroundColor: "#86ad9e",
		members:	await fetchTeam(),
	} 
};
//const team = {
//	team: {
//		textColor: "#efe9e0",
//		//backgroundColor: "#4f4f4e",
//		backgroundColor: "#86ad9e",
//		members: [
//			{
//				name: "Mats Saxer",
//				title: "CEO",
//				image_url: "http://images.ctfassets.net/8s1ond3x79i6/73AX9MjykPccABRvvvWi6V/79e7ba6672490419d1fca8999bfc36de/mats_saxer_profile.png",
//				linkedin_url: "https://www.linkedin.com/in/saxer/",
//			},
//			{
//				name: "Johan Burell",
//				title: "Developer",
//				image_url: "../img/Johan%20Burell%20-%20profil.png",
//				linkedin_url: "https://www.linkedin.com/in/johanburell/",
//			},
//			{
//				name: "Johan Burell",
//				title: "Developer",
//				image_url: "http://images.ctfassets.net/8s1ond3x79i6/73AX9MjykPccABRvvvWi6V/79e7ba6672490419d1fca8999bfc36de/mats_saxer_profile.png",
//				linkedin_url: "https://www.linkedin.com/in/johanburell/",
//			},
//			{
//				name: "Mats Saxer",
//				title: "CEO",
//				image_url: "http://images.ctfassets.net/8s1ond3x79i6/73AX9MjykPccABRvvvWi6V/79e7ba6672490419d1fca8999bfc36de/mats_saxer_profile.png",
//				linkedin_url: "https://www.linkedin.com/in/saxer/",
//			},
//			{
//				name: "Johan Burell",
//				title: "Developer",
//				image_url: "http://images.ctfassets.net/8s1ond3x79i6/73AX9MjykPccABRvvvWi6V/79e7ba6672490419d1fca8999bfc36de/mats_saxer_profile.png",
//				linkedin_url: "https://www.linkedin.com/in/johanburell/",
//			},
//			{
//				name: "Johan Burell",
//				title: "Developer",
//				image_url: "http://images.ctfassets.net/8s1ond3x79i6/73AX9MjykPccABRvvvWi6V/79e7ba6672490419d1fca8999bfc36de/mats_saxer_profile.png",
//				linkedin_url: "https://www.linkedin.com/in/johanburell/",
//			},
//		]
//	}
//};
const headProps = {
	videoNumber: 0,
	bright: 90,
	headProps: await fetchHeader(),
};
const footProps = { footProps: await fetchFooter() };

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<base href="." />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../css/Common.css" />
		<style>
			html,
			body {
				font-family: "Lato";
				margin: 0;
				padding: 0;
				height: 100svh;
				font-size: 16px;
				background-attachment: fixed;
				background-color: white;
				scroll-behavior: smooth;
			}
			@media (prefers-color-scheme: dark) {
				html,
				body {
					font-family: "Lato";
					margin: 0;
					padding: 0;
					height: 100svh;
					font-size: 16px;
					background-attachment: fixed;
					background-color: black;
					scroll-behavior: smooth;
				}
			}

			@media screen and (max-width: 900px),
			screen and (max-height: 550px) {
				html,
				body {
					font-size: 10px;
				}
			}

			@media screen and (max-width: 600px),
			screen and (max-height: 350px) {
				html,
				body {
					font-size: 7px;
				}
			}
		</style>
	</head>
	<script></script>
	<body>
		<!-- <main style="display: flex; flex-direction: column; align-items: center"> -->
		<!-- <main style="display: grid; grid-template-columns: auto 1800px auto;"> -->
		<main>
				<Header {...headProps} client:visible />
				<Cards {...cards} client:visible />
				<Team {...team} client:visible />
				<Footer {...footProps} client:visible />
		</main>
	</body>
</html>
