---
import Cards from '../components/Cards';
import Header from '../components/Header';
import Footer from '../components/Footer';
import { fetchCards, fetchHeader, fetchFooter } from '../utils/contentful';
const cards = { cards: await fetchCards() };
const headProps = { headProps: await fetchHeader() };
//const footProps = { footProps: await fetchFooter() };
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
		<style>
			@import url('../Common.css');
		</style>
		<style>
			html,
			body {
				font-family: 'Lato';
				margin: 0;
				font-size: 16px;
				padding: 2rem;
			}
		</style>
	</head>
  <script>
  </script>
	<body>
		<main>
			<Header {...headProps} client:visible />
			<Cards {...cards} client:visible />
			<!-- <Footer {...footProps.fields} client:visible /> -->
		</main>
	</body>
</html>
