code {
  font-family: 'Lato';
  color: #9f5743;
}

.cardTextCell { 
  padding: 0rem;
}

.rowStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cta-ball {
  position: absolute;
  right: 4rem;
  width: 9ch;
  padding: 2rem 1.25rem;
  bottom: -5rem;
  rotate: 15deg;
  color: #efe9e0;
  background-color: #ab6c5b;
  border-radius: 50%;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.cta-ball:hover {
  background-color: #9f5743;
}

@media screen and (max-width: 700px) {				
  .cardTextCell {
    padding: 0rem;
  }

  .rowStyle {
    justify-content: flex-start;
  }
}

