---
---

<div class="nav-bar-style navbar">
  <div class="nav-line-style navbar">
    <a href='#toprow'><img class="img-style" src="../img/mint_logo_postitiv_RGB.svg" /></a>
    <div class="nav-text-style">
      <a href="#vision" class="nav-link-style">Vision</a>
      <a href="#omoss" class="nav-link-style">Om oss</a>
      <a href="#roller" class="nav-link-style">Roller</a>
      <a href="https://mint-1712829496.teamtailor.com/" target="_blank" class="nav-link-style">Mint & Friends</a>
      <a href="#kompis" class="nav-link-style">Kontakt</a>
    </div>
  </div>
</div>

<style>
  .nav-bar-style {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(239, 233, 224, var(--opacity));
    will-change: background;
  }

  .nav-line-style {
    display: flex;
    width: 100%;
    max-height: var(--navHeight);
    will-change: max-height;
  }

  .nav-text-style {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    flex-direction: row;
  }

  .nav-link-style {
    font-size: 1.5rem;
    text-align: right;
    line-height: var(--navSize);
    color: #595959;
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    will-change: line-height;
  }
</style>
